<div class="quality-logos">
  <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Demeter_480x480.png?v=1591110274"
       alt="Demeter - biodynamisk certificeret"
       class="logo-demeter {% if demeter == false or demeter == 'false' %}hide{% endif %}">
  <img
      src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/DK-Oko-uden_tekst_200x200.png?v=1578570873"
      alt="Statskontrolleret økologiske frø"
      class="logo-organic {% if organic == false or organic == 'false' %}hide{% endif %}">
</div>
