{% comment %}
  JS-load cart markup without bloat of a full layout.

  This is used in both the mini cart drawer and cart page.
  When a quantity is changed, this file is scraped and data-products
    is fully replaced to account for possible cart discounts changing

  The cart-wide discount div also replaces what is originally in the cart
    as it can change anytime a cart-item changes
{% endcomment %}
{% layout none %}

<div class="cart__items"
  data-count="{{ cart.item_count }}"
  data-cart-subtotal="{{ cart.total_price }}">
  {% assign currentBundleMetaData = "" -%}
  {% for item in cart.items %}
    {%- assign isBundle = false -%}
    {%- assign isBundleProduct = false -%}

    {% for p in item.properties %}
      {% if p.first == "_bundle" %}
        {%- assign isBundle = true -%}
        {%- liquid
          assign bundleVariantName = item.options_with_values.first.value
          assign bundleData_bundleVariants = item.product.metafields.bundle.bundleData | split: ','
          for bundleVariant_i in bundleData_bundleVariants
            assign bundleVariant_i_Name = bundleVariant_i | split: '=' | first
            if bundleVariantName == bundleVariant_i_Name
              assign currentBundleMetaData = bundleVariant_i | split: '=' | last | split: ':'
              break
            endif
          endfor
        -%}
        {% break %}
      {% endif %}
      {% if p.first == "_partOf" %}
        {%- assign isBundleProduct = true -%}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if isBundle %}
      {%- render 'cart-item-bundle', product: item -%}
      {%- continue -%}
    {% endif %}

    {% if isBundleProduct %}
      {%- liquid
        assign discountCoef = 0
        for bundleItem in currentBundleMetaData
          assign parts = bundleItem | split: '/'
          assign productName = parts[0]
          assign productVariantID = parts[1] | plus: 0
          assign productVariantDiscount = parts[2] | plus: 0

          if item.product.handle == productName and item.id == productVariantID
            assign discountCoef = 100.0 | minus: productVariantDiscount | divided_by: 100.0
            break
          endif
        endfor
      -%}
      {%- render 'cart-item-bundle-product', product: item, discountCoef: discountCoef -%}
      {%- continue -%}
    {% endif %}

    {%- render 'cart-item', product: item -%}
  {% endfor %}
</div>
<div class="cart__discounts text-right{% if cart.cart_level_discount_applications == blank %} hide{% endif %}">
  <div>
    {% for cart_discount in cart.cart_level_discount_applications %}
      {%- assign savings = cart_discount.total_allocated_amount | money -%}
      <div class="cart__discount">
        {{ 'cart.general.savings_html' | t: saved_amount: savings }}
        ({{ cart_discount.title }})
      </div>
    {% endfor %}
  </div>
</div>
